<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--&lt;!&ndash; 测试套件 &ndash;&gt;-->
<!--<suite name="SuiteName" verbose="1">-->
<!--    &lt;!&ndash; 测试集 &ndash;&gt;-->
<!--    <test name = "allTestsInAClass" >-->
<!--        &lt;!&ndash; 测试类集合 &ndash;&gt;-->
<!--        <classes>-->
<!--            &lt;!&ndash; 对应的每个测试类 &ndash;&gt;-->
<!--            <class name="my_testng.Test01" />-->
<!--            <class name="my_testng.Test02" />-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!-- 只能有一个测试套件 -->
<!--<suite name="Suite">-->
<!--    <test name="register">-->
<!--&lt;!&ndash;        <groups>&ndash;&gt;-->
<!--&lt;!&ndash;            <run>&ndash;&gt;-->
<!--&lt;!&ndash;                <include name="g1" />&ndash;&gt;-->
<!--&lt;!&ndash;            </run>&ndash;&gt;-->
<!--&lt;!&ndash;        </groups>&ndash;&gt;-->
<!--        <classes>-->
<!--            &lt;!&ndash; <class name="my_testng.TestParameterDemo" />&ndash;&gt;-->
<!--            <class name="my_testng.TestParameterDemo" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <parameter name="browserName" value="Chrome"/>-->
<!--    <parameter name="browserVersion" value="89.58.1180"/>-->
<!--</suite>-->

<suite name="Suite">
    <test name="注册">
        <classes>
            <class name="web_test.TestRegister" />
        </classes>
    </test>

    <test name="登录">
        <classes>
            <class name="web_test.TestLogin" />
        </classes>
    </test>

    <parameter name="browser" value="chrome" />
    <!--    <parameter name="browser" value="firefox" />-->
    <!--    <parameter name="browser" value="ie" />-->

    <parameter name="apacheDocumentRoot" value="C:\ZZZZZZ\auto_test\my_java\target\surefire-reports" />
    <parameter name="host" value="http://localhost" />

    <!--  配置监听器  -->
    <listeners>
        <listener class-name="reportng_demo.CustomListener" />
        <!--        <listener class-name="org.uncommons.reportng.HTMLReporter" />-->
<!--        <listener class-name="uncommons.reportng.HTT" />-->
    </listeners>
</suite>
<!--
mvn install:install-file -Dfile=C:\reportng-1.1.4.jar -DgroupId=org.uncommons -DartifactId=reportng -Dversion=1.1.4 -Dpackaging=jar -f pom-copy.xml
-->
